#nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    background-color: var(--bg-sec-great);
    border-radius: 0 var(--br) var(--br) 0;
    min-width: 40px;
    max-width: max-content;
    padding-top: 50px;
    /*transform: translateX(-150%);*/
    &.active {
        /*transform: translateX(0);*/
        width: 200px;
        min-width: 200px;
    }
}

#navcontent {
    display: inline-flex;
    flex-direction: column;
}

#openmenu {
    border: none;
    background: none;
    width: max-content;
    position: absolute;
    top: calc(2rem + 10px);
}
#nav:not(.active) {
    width: 50px;
    .navbtn {
        /*justify-content: center;*/
            min-width: 40px;
            width: 40px;
        span {
            display: none;
        }
        img {
            padding: 0;
            margin: auto;
        }
    }
}

#nav {
    .navbtn {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0.5rem 0;
        margin: 0.25rem 0;
        width: 100%;
            min-height: 40px;
            max-height: 40px;
        &.active {
            background-color: var(--bg-sec-hover);
            border-radius: var(--brs);
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            padding-left: 1rem;
            padding-right: 0.5rem;
        }

        span {
            padding: 0;
            margin: 0;
            white-space: nowrap;
        }
    }
}