.page {
    /*display: none;*/
    min-height: 0;
    height: 0;
    overflow-y: hidden;
    &.active {
        display: inline-flex;
        &.block {
            display: block;
        }
    }
    &:not(.active) {
        filter: blur(5px);
    }
}

#content {
    height: 100dvh;
    flex: 1;
    width: calc(100dvw - 90px);
    overflow-x: auto;
    padding-left: var(--ds);
}