#content {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.page {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(40px);
    transition:
        transform 0.35s cubic-bezier(0.2,0,0,1),
        opacity 0.25s ease;
    pointer-events: none;
    
    &.active {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        z-index: 2;
        padding-left: var(--ds) !important;
    }

    /* уходящая */
    &.leave-left {
        transform: translateX(-40px);
        opacity: 0;
    }
    &.leave-right {
        transform: translateX(40px);
        opacity: 0;
    }

    /* твой blur */
    &:not(.active) {
        filter: blur(5px);
    }
}

#content.modal-open .page.active {
    @media (orientation: portrait) {
        filter: blur(3px) saturate(120%) brightness(50%);
    }
}
